<div style=" text-align: center;">

    <h2>{{title}}</h2>

    <div style="margin: auto;">
        <form [formGroup]="formNewProject" class="formNewProject">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input matInput required formControlName="name">
                    <mat-error *ngIf="formNewProject.controls.name.errors">Campos obrigatório</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Descrição</mat-label>
                    <input matInput required formControlName="description">
                </mat-form-field>
            </div>

        </form>

        <div class="container" style="justify-content: space-evenly;">
            <button mat-button mat-dialog-close>Cancelar</button>
            <button mat-button type="submit" [mat-dialog-close]="true" (click)="registerNewProject()">{{textButton}}</button>
        </div>
    </div>
</div>