<div>
    <h2>Membros da equipe</h2>
</div>

<div class="container">
    <div style="width: 100%;">
        <form style="width: 100%;">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Digite o nome do usuario</mat-label>
                <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
    <div>
        <button mat-button type="submit" color="primary" (click)="registerNewMember()">Adicionar</button>
    </div>
</div>

<div style="width: 100%; margin-bottom: 20px;">
    <table mat-table [dataSource]="usersInProject" style="width: 100%;">

        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="opções">
            <th mat-header-cell *matHeaderCellDef> Opções </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="Excluir" (click)="removeMembers(element.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>