<div>
    <mat-toolbar class="mat-elevation-z8">
        <button mat-icon-button *ngIf="sidenav?.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav?.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav?.opened">
            close
        </mat-icon>
    </button>

        <img src="../../assets/imgs/formiga.png" style="margin-left: 30px;">
        <span style="margin-left: 15px;">Fourmi</span>
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" *ngIf="showMenu">
            <div>
                <a mat-button routerLink="/home" class="menu-button">
                    <mat-icon>home</mat-icon>
                    Início
                </a>
                <a *ngIf="perfilUser == 'Gerente'" mat-button routerLink="/project" class="menu-button">
                    <mat-icon>factory</mat-icon>
                    Projetos
                </a>
                <a *ngIf="perfilUser == 'Gerente'" mat-button routerLink="/users" class="menu-button">
                    <mat-icon>people_alt</mat-icon>
                    Usuários
                </a>
                <a mat-button routerLink="/notification" class="menu-button">
                    <mat-icon>notifications</mat-icon>
                    Notificações
                </a>

                <mat-divider></mat-divider>

                <a mat-button (click)="openDialogUpdatePassword()" class="menu-button">
                    <mat-icon>settings</mat-icon>
                    Trocar senha
                </a>
                <button mat-button (click)="logOut()" class="menu-button">
                    <mat-icon>logout</mat-icon>
                    Sair
                </button>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>